.container {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

.horizontal {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}

.vertical {
  width: 24px;
  min-width: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
}

.wrapperHorizontal {
  flex-direction: row;
  align-items: center;
}

.wrapperVertical {
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.inputsContainer {
  position: absolute;
  display: flex;
  z-index: 10;
  pointer-events: none;
}

.inputsContainerHorizontal {
  width: 100%;
  justify-content: flex-start;
  left: 0;
  top: -20px;
}

.inputsContainerVertical {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  left: 24px;
  top: 0;
  align-items: flex-start;
}

.inputWrapper {
  pointer-events: auto;
  position: absolute;
  max-width: 50%;
  box-sizing: border-box;
}

.inputWrapperLeft {
  left: 0;
  text-align: left;
}

.inputWrapperLeft :global(input) {
  text-align: left;
}

.inputWrapperRight {
  right: 0;
  text-align: right;
}

.inputWrapperRight :global(input) {
  text-align: right;
}

.inputsContainerVertical .inputWrapper {
  text-align: left;
}

.inputsContainerVertical .inputWrapper :global(input) {
  text-align: left;
}
